@model DepartmentViewModel
<div>
    <h1>Edit Department</h1>
    @if (ViewBag.Info != null)
    {
        <div class="alert alert-info">
            @ViewBag.Info
        </div>
    }
    <form action="/Department/Edit" method="post">
        <div class="mb-3">
            <label for="Code" class="form-label">Code</label>
            <input type="text" name="Code" class="form-control" value="@Model.Code" required>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" name="Name" class="form-control" value="@Model.Name" required>
        </div>
        <div class="mb-3">
            <label for="Phone" class="form-label">Extension Phone</label>
            <input type="tel" name="Phone" class="form-control" value="@Model.ExtensionPhone" required>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Update</button>
            <button class="btn btn-danger">Cancel</button>
        </div>
    </form>

</div>