<div>
    <h1>Entry Position</h1>
    @if (ViewBag.Info != null)
    {
        <div class="alert alert-info">
            @ViewBag.Info
        </div>
    }
    <form action="/Position/Entry" method="post">
        <div class="mb-3">
            <label for="Code" class="form-label">Code</label>
            <input type="text" name="Code" class="form-control" placeholder="Enter Position Code..." required>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" name="Name" class="form-control" placeholder="Enter Position Name..." required>
        </div>
        <div class="mb-3">
            <label for="Level" class="form-label">Level</label>
            <input type="text" name="Level" class="form-control" placeholder="Enter Position Level..." required>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Entry</button>
            <button class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>