<h1>Employee Detail Report</h1>
@if (TempData["info"] != null)
{
    <div>
        @TempData["info"]
    </div>
}
<div>
    <form action="/employeereport/ReportByEmployeeFromCodeToCode" method="get">
        <div class="mb-3">
            <label for="Code" class="form-label">From Employee Code</label>
            <input type="text" name="FromCode" class="form-control" placeholder="Enter From Employee Code...">
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">To Employee Code</label>
            <input type="text" name="ToCode" class="form-control" placeholder="Enter To Employee Code...">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Query</button>
            <button class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>
