<h1 style="color:green">Hi  i am come from index view of home controller</h1>
<h3>@ViewBag.Info</h3>
<a href="/home/friends">Friends</a>|
<a href="/home/tellmenow">now</a>|
<a href="/home/GetMyName">myname</a>|
<a href="/home/downloadPdf">download my file</a>|
<a href="/home/family">check faimly info</a>|
<a href="/currency/currencyConvertorv1">currency Convertor v1.0</a>|
<a href="/currency/currencyConvertorv2">currency Convertor v2.0</a>|
<a href="/student/register">Student Registration</a>
